# ============================================================================
#                              🤖 TLALOC Bot
# ============================================================================
# ----------------------------------------------------------------------------
# 🌱 Entorno de Desarrollo
# ----------------------------------------------------------------------------
TLALOC_BOT_DOMAIN_DEV=dev.tu_dominio.com
TLALOC_BOT_PORT_DEV=8000
# ----------------------------------------------------------------------------
# 🏭 Entorno de Producción
# ----------------------------------------------------------------------------
TLALOC_BOT_DOMAIN=tu_dominio.com
TLALOC_BOT_PORT=8000