# ============================================================================
#                              ⚙️  FRONTEND
# ============================================================================
# Entorno de Desarrollo
# ----------------------------------------------------------------------------
FRONTEND_DOMAIN_DEV=dev.hic-cibus.com
FRONTEND_PORT_DEV=8000
# Entorno de Producción
# ----------------------------------------------------------------------------
FRONTEND_DOMAIN=hic-cibus.com
FRONTEND_PORT=8000

# ============================================================================