# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Parches y cambios
cambios.patch

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Editor backups and configurations
*.swp
*.swo
*.bak
*.orig
*.tmp
.idea/
.vscode/
*.code-workspace

# Secrets (add your secret file patterns)
secrets/
usersFile
*.key
*.pem

# Others
logs/
*.log