# 丘뙖잺 Configuraci칩n de Traefik

[providers]
    # 游냡 Proveedor Docker para Traefik.
    [providers.docker]
        # Desactiva la exposici칩n autom치tica de todos los contenedores Docker.
        exposedByDefault = false

[entryPoints]
    # 游깷 Punto de entrada HTTP
    [entryPoints.http]
        address = ":80" # Escucha en el puerto 80 para tr치fico HTTP.

    # 游냊 Punto de entrada para PostgreSQL.
    [entryPoints.postgresql]
        address = ":5432" # Escucha en el puerto 5432 para conexiones PostgreSQL

    # 游 Punto de entrada para la base de datos EMQX
    [entryPoints.emqx_db]
        address = ":5500"

    # 游니 Punto de entrada para MQTT no seguro.
    [entryPoints.mqtt]
        address = ":1883" # Escucha en el puerto 1883 para MQTT

    # 游깷 Punto de entrada para WebSocket no seguro
    [entryPoints.websocket]
        address = ":8083" # Escucha en el puerto 8083 para WebSocket


[api]
    # 游늵 Configuraci칩n del panel de control de Traefik
    dashboard = true  # Habilita el panel de control
    insecure = true # Deshabilita acceso inseguro al dashboard