#  Configuraci贸n global de Traefik
#  Entorno de Desarrollo
# Este archivo contiene configuraciones est谩ticas para Traefik en el entorno de desarrollo, incluyendo:
# - Proveedores de servicios (Docker, archivos, etc.)
# - Puntos de entrada (HTTP, PostgreSQL, etc.)


#  Configuraci贸n de los proveedores de Traefik
[providers]
    #  Proveedor Docker para Traefik.
    [providers.docker]
        # Desactiva la exposici贸n autom谩tica de todos los contenedores Docker.
        exposedByDefault = false

    #  Proveedor de archivos para la configuraci贸n de los middlewares.
    [providers.file]
        filename = "/etc/traefik/middlewares.toml"
        watch = true


#  Configuraci贸n de los puntos de entrada
[entryPoints]
    #  Punto de entrada HTTP
    [entryPoints.http]
        address = ":80" # Escucha en el puerto 80 para tr谩fico HTTP.

    #  Punto de entrada para PostgreSQL.
    [entryPoints.postgresql]
        address = ":5433" # Escucha en el puerto 5433 para conexiones PostgreSQL

    #  Punto de entrada para la base de datos EMQX
    [entryPoints.emqx_db]
        address = ":5500"

    #  Punto de entrada para MQTT no seguro.
    [entryPoints.mqtt]
        address = ":1883" # Escucha en el puerto 1883 para MQTT

    #  Punto de entrada para WebSocket no seguro
    [entryPoints.websocket]
        address = ":8083" # Escucha en el puerto 8083 para WebSocket


#  Configuraci贸n del panel de control de Traefik
[api]
    dashboard = true  # Habilita el panel de control
    insecure = true # Deshabilita acceso inseguro al dashboard