# 锔 Configuraci贸n de Traefik

[providers]
    #  Proveedor Docker para Traefik.
    [providers.docker]
        # Desactiva la exposici贸n autom谩tica de todos los contenedores Docker.
        exposedByDefault = false

[entryPoints]
    #  Punto de entrada HTTP
    [entryPoints.http]
        address = ":80" # Escucha en el puerto 80 para tr谩fico HTTP.

    #  Punto de entrada HTTPS
    [entryPoints.https]
        address = ":443" # Escucha en el puerto 443 para tr谩fico HTTPS.

    #  Punto de entrada para PostgreSQL
    [entryPoints.postgresql]
        address = ":5432"

[certificatesResolvers]
    [certificatesResolvers.letsencrypt]
        [certificatesResolvers.letsencrypt.acme]
            # Correo electr贸nico para notificaciones de Let's Encrypt.
            email = "josdanind@pm.me"
            # Ubicaci贸n del archivo de almacenamiento para los datos del certificado.
            storage= "/certificates/acme.json"
            [certificatesResolvers.letsencrypt.acme.tlsChallenge]

[api]
    #  Habilita el panel de control de Traefik.
    dashboard = true
    # Seguridad del servicio.
    insecure = false